jobs:
  clippy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@v3
      - name: Run Clippy
        run: |
          nix develop --command \
            cargo clippy --target wasm32-unknown-unknown -- -D warnings
